body {
    background-color: wheat;
    font-family: Verdana;
    margin: 40px;
    text-align: center;
  }
  
  canvas {
    border: 1px solid #c3c3c3;
    height: auto;
  }
  
  input {
    font-size: 12pt;
  }
